body {
	font-family: Tahoma, sans-serif;
	padding: 0;
	margin:0;
}

.container {
	width: 940px;
	margin: 0 auto;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
	line-height: 1.45em;
}

ul, li {
	display: block;
	margin: 0 ;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.5em;

}
h2 {
	font-size: 26px;
	font-weight: bold;
}

h3 {
	font-size: 22px;
	font-weight: bold;
}

h4 {
	color: #2d63eb;
	font-size: 16px;
	text-align: left;
	text-transform: none;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.header	{
	background: rgba(74,125,252,1);
	background: -moz-linear-gradient(left, rgba(74,125,252,1) 0%, rgba(21,76,214,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(74,125,252,1)), color-stop(100%, rgba(21,76,214,1)));
	background: -webkit-linear-gradient(left, rgba(74,125,252,1) 0%, rgba(21,76,214,1) 100%);
	background: -o-linear-gradient(left, rgba(74,125,252,1) 0%, rgba(21,76,214,1) 100%);
	background: -ms-linear-gradient(left, rgba(74,125,252,1) 0%, rgba(21,76,214,1) 100%);
	background: linear-gradient(to right, rgba(74,125,252,1) 0%, rgba(21,76,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7dfc', endColorstr='#154cd6', GradientType=1 );
	text-align: center;
	padding: 65px 0 61px;
}

.connect {
	width: 600px;
	margin: 167px auto;
}



.connect__slogan {
	color: #fff;
	font-size:27px;
}

.button {
	text-align: center;
	border: 1px solid #fff;
	padding: 19px 30px 22px 30px;
	border-radius: 100px;
	font-size: 13px;
	font-weight: bold;
	width: 215px;
	color: #fff;
	background-color: #2b60e6;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

.connect__button_change:hover{
	color: #2b60e6;
	background-color: #fff;
}

.connect__button{
	margin-top:20px;
}

.info {
	padding: 102px 0 115px;
	box-shadow: 0 -40px 60px rgba(0, 0, 0, 0.22);
}

.about-me {
	margin-top:75px;
}

.mission {
	width: 450px;
	margin-right: 90px;
}

.mission__title, .merit__title {
	text-align: left;
	font-size: 23px;
}

.line:after {
	content: '';
	display: block;
	background: #2d63eb;
	margin-top: 20px;
	margin-bottom: 35px;
	width: 70px;
	height: 3px;
}

.mission__text {
	color: #0e1b3e;
	font-size: 15px;
	margin-top: 36px;
}
.mission a {
	display: inline;
}

.mission a:hover {
	text-decoration: none;
}

.merit__icon {
	width: 52px;
	height: 52px;
	border-radius: 10px;
}

.merit__words {
	color: #b0b2b3;
}

.merit__info {
	margin-top: 25px;
}

.merit__text {
	margin-left: 20px;
}

.merit__icon_bug {
	background: #2d63eb url(../img/bug.png) no-repeat center center;
}

.merit__icon_bell {
	background: #2d63eb url(../img/bell.png) no-repeat center center;
}

.merit__icon_storm {
	background: #2d63eb url(../img/storm.png) no-repeat center center;
}

.merit__icon_camera {
	background: #2d63eb url(../img/camera.png) no-repeat center center;
}

.skill {
	padding-bottom:125px;
}

.reasons{
	justify-content: space-around;
	margin-top: 65px;
}

.reasons__icon {
	width: 75px;
	height: 75px;
	border: 1px solid #ffa200;
	border-radius: 50%;
	color: #ffa200;
	margin: 0 auto;
	font-size: 30px;
	text-align: center;
	line-height: 73px;
}
.reasons__icon:hover{
	background-color: #ffa200;
	color: #fff;
}

.reasons__title {
	margin-top: 10px;
	font-weight: bold;
	font-size: 16px;
}

.offer {
	background-color: #e6e9f1;
	padding: 100px 0 110px 0;
}

.text {
	font-size: 14px;
	text-align: center;
	margin: 25px 0;
}

.btn {
	text-align: center;
}

.block-info{
	background-color: #06319e;
	padding: 45px 0;
}

.author {
	color: #fff;
	font-size: 13px;
}

.author__info-fix{
	border-bottom: 1px dotted #fff;
	color: #fff;
	text-decoration: none;
}

.author__info-fix:hover{
	border-bottom: none;
}




