/* ------ Спецификация ------ */



body {
	font-family: 'Open Sans', sans-serif;
	color: #6c7279;
	padding: 0;
	/*letter-spacing: 0em;*/
	margin: 0;
	font-size: 14px;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 14px;
    line-height: 1.4em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-weight: 700;
	color: #2d3033;
	line-height: 1.6em;
}

h1 {
	font-size: 51px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 14px;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
	outline: none;
}

.container-fluid_plain {
	padding: 0;
}

.btn {
	font-size: 16px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 2px;
	text-align: center;
	display: block;
	width: 200px;
	padding: 12px 0;
	font-weight: 700;
}

.btn:hover {
	background: #fff;
	color: #e2512b;
}

.btn:focus {
	box-shadow: none;
}


/* ------ Первый экран ------ */

.header{
	color: #fff;
	background: url(../img/city.jpg) no-repeat top center/cover;
	padding: 25px 0 250px 0;
}

.h-bg{
	background-color: #e5e6e8;
}

.logo{
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
	/*margin-top: 25px*/
	display: block;
}

.logo__fix{
	margin-left: -8px;
	color: #fff;
}

.logo__color{
	color: #626fe4;
	font-weight: bold;
}

.menu{
	text-align: center;
	margin-top: 20px;
	justify-content: flex-end;
	
}

.menu__item {
	font-size: 14px;
}

/*.menu__item:last-child{
	margin-right: 0;
}*/

.menu__choose {
	text-transform: uppercase;
	padding: 0 32.5px 32px 32.5px;
	border-bottom: 3px solid transparent;
	color: #fff;
}

.menu__item:last-child .menu__choose {
	padding-right: 0;
}

.menu__choose:hover{
	border-bottom: 3px solid #a1a0a1;
	color: #fff;
 }

.offer{
	border-top: 0.5px solid rgba(255, 255, 255, 0.3);
	padding: 0;
	margin-top: 30px;
	justify-content: center;
}

.offer{
	text-align: center;
	padding: 172px 0 0 0;
}

.offer__title{
	color: #fff;
	font-size: 45px;
	margin-bottom: 25px;
}

.offer__text{
	font-size: 22px;
	margin-bottom: 5px;
}

.offer__btn{
	margin: 25px auto 0;
	text-transform: uppercase;
	background-color: #e84545;
	border: none;
	font-size: 13px;
}

/* ------ Второй экран ------ */

.photo{
	padding-bottom: 95px;
}

.opportunities{
	padding: 48px 0 125px;
}

.about{
	text-align: center;
	margin-top: 77px;
}

.about__title{
	font-size: 14px;
	margin: 27px 0 18px;
}


/* ------ Третий экран ------ */

.work{
	margin-bottom: 30px;
	position: relative;
}

.work__block{
	background: rgba(214,67,67,0.56);
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	display: flex;
	justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    /*display: block;*/
}

.work:hover .work__block{
	visibility: visible;
	opacity: 1;
	color: #fff;
}

.work__title{
	font-size: 14px;
	color: #fff;
}

.work__photo{
	max-width: 100%;
}

/* ------ Четвертая секция ------ */

.people{
 padding: 150px 0 118px;
 background-color: #f1f2fd;
}

.person__name{
	font-size: 22px;
	margin-top: 35px;
	margin-bottom: 0;
	text-transform: none;
}

.person__photo{
	max-width: 100%;
}

.person__text{
	margin-top: 23px;
	line-height: 1.5em;
}

.person__position{
	color: #e84545;
	text-transform: uppercase;
}

.social{
	margin-top: 25px;

}

.social__element{
	margin: 0 2.5px;
}


/* ------ Пятая секция ------ */


.woman{
	background: url(../img/img-5.jpg) no-repeat top center/cover;
	height: 500px;
	padding: 0;
}

.slogan	{
	background-color: #53354a;
	padding: 0;
	width: 100%;
	/*height: 500px;*/
}

.slogan__block{
	padding-top: 125px;
	padding-left: 85px;
}

.slogan__title{
	font-weight: 300;
	font-style: italic;
	font-size: 36px;
	color: #fff;
	text-transform: none;
	line-height: 1.3em;
	width: 500px;
}

.slogan__text{
	text-transform: uppercase;
	font-size: 13px;
	margin-top: 20px;
	color: #fff;
}

/* ------ Шестая секция ------ */

.download{
	padding: 88px 0 100px; 
}

.start{
	text-align: center;
}

.start__title{
	font-size: 28px;
	text-transform: none;
}

.start__text{
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 5px;
}

.start__btn{
	margin: 0 auto; 
	background-color: #e84545;
	border: 1px solid #e84545;
	width: 280px;
	text-transform: uppercase;
	margin-top: 30px;
}

.start__btn:hover {
	background: #fff;
	color: #000;
	border: 1px solid #000;
}

/* ------ Седьмая секция ------ */

.footer{
	background-color: #3a3e64;
	padding: 85px 0;
}

.footer-info{
	text-align: center;
}

.footer-info__title{
	text-transform: uppercase;
	font-size: 14px ;
	color: #fff;
}

.footer-info_text{
	color: #afb0bc;
}

.red{
	color: #c4434e;
}

.white{
	color: #fff;
}

/*@media screen and (min-width: 1200px) {

	.container{
		max-width: 1200px;
	}

}
*/



@media screen and (max-width: 1200px) {
	.slogan__title{
		width: auto;
	}
	
	.slogan__block{
		padding-right: 50px;
	}
}

/* 768 - 992 px */
@media screen and (max-width: 992px) {
	.offer{
		padding-top: 0;
	}

	.header{
 		padding-bottom: 100px;
 	}

 	.logo{
		text-align: center;
	}

	.menu{
		justify-content: center;
	}

	.offer__title{
		margin-top: 50px;
	}

	.opportunities{
 		padding: 0px 0 50px;
 	}

 	.about{
 		margin-top: 40px;
 	}

	.about__text{
		width: auto;
	}

	.person{
		margin-bottom: 30px;
	}

	.menu__choose:hover{
		padding-bottom:30px;
 	}
	
	.slogan__block{
		padding: 15px 50px 20px 50px; ;
	}
	.photo{
		padding-bottom: 30px;
	}
	.people{
		padding: 30px 0;
	}

 	.footer-info{
 		margin-top: 25px;
 	}

 	.footer-info__title{
 		margin-bottom: 0;
 	}

 	.footer-info__text{
 		width: 390px;
 		margin: 0 auto;
 	}

 	.footer{
 		padding: 30px;
 	}

 	
}

/* 576 - 768 px */
@media screen and (max-width: 768px) {
	.header{
		padding-bottom: 0;
	}
	.offer{
		padding-bottom: 65px;
	}
	
	.menu__item{
		display: none;
	}

	.menu{
		display: none;
	}

	.woman{
		height: 300px;
	}

	
	.slogan{
		height: 250px;
	}

	.slogan__block{
		padding: 15px 25px 0 25px;
	}

	.offer__title{
		font-size: 35px;
	}
	
	.offer__text{
		font-size: 15px;
	}
	.slogan__title{
		font-size: 26px;
	}

	.offer__title{
 		font-size: 28px;
 	}	

 	.start__title{
 		font-size: 25px;
 	}

}

/* 320 - 576 px */
@media screen and (max-width: 576px) {
	.menu{
		flex-direction: column;
		margin: 0 auto;
		justify-content: center;
	}

	.menu__item{
		margin: 0 auto;
	}

	.menu__item:last-child{
		margin: 0 auto;
	}

	.menu__choose:hover{
		padding-bottom: 30px;
		border-bottom: none;
	}

	.offer{
		padding-bottom: 65px;
	}
	
	.woman{
		height: 200px;
	}

	.slogan__title{
		font-size: 26px;
	}

	.footer-info__text{
 		width: auto;
 	}

 	.offer__title{
		font-size: 31px;
	}
	
	.offer__text{
		font-size: 13px;
	}
	.slogan__title{
		font-size: 23px;
	}

	.offer__title{
 		font-size: 25px;
 	}	

 	.start__title{
 		font-size: 22px;
 	}
}